---
layout: page
permalink: /categories/
---

<div class="header-bar">
  <h1><a href="http://studentunion.co"><img alt="RBS Student Union Logo" title="RBS Student Union Logo" src="{{ site.baseurl }}/img/logo.png" class="logo"></h1>
  
</div>
<div class="smooth" style="height: 56px;">
 {% include header.html %}
 </div>
<div class="post">

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>