---
layout: default
---

<div class="header-bar">
  <h1><a href="{{ site.baseurl }}"><img src="img/logo.png" class="logo"></h1>
  
</div>

<div class="smooth" style="height: 56px;">
 {% include header.html %}
</div>

<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>

<a href="#0" class="cd-top">Top</a>