---
layout: default
---

<div class="header-bar">
  <h1><img src="img/logo.png" class="logo"></h1>
  <h2 style="margin-top: 15px; line-height: 125%; border-left: 10%; padding-left: 2%; padding-right: 2%;
">The Official Home of the Student Union of RBS</h2>
  
</div>

 {% include header.html %}

<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>