<footer class="site-footer">

  <div class="wrapper">

  	Contact us on <a href="https://www.facebook.com/rbsstudentunion/" target="_blank">Facebook</a></p>

  	
  	<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" style="bottom:0px; right:0px;">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_pinterest"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>

<script async src="https://static.addtoany.com/menu/page.js"></script>

<style type="text/css">
/* Hide AddToAny vertical share bar when screen is less than 980 pixels wide */
@media screen and (min-width: 981px) {
    .a2a_floating_style.a2a_default_style { display: none; }
}
</style>
  </div>



</footer>
