<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger" style="vertical-align:middle; ">
        <!-- {{ site.title }} instead of blog -->
        <div class="linki">
        <li class="dropdown" onclick="void(0)">
    <a class="dropbtn">Categories</a>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/tags/News/index.html" class="drops">News</a>
      <a href="{{ site.baseurl }}/tags/Events/index.html" class="drops">Events</a>
      <a href="{{ site.baseurl }}/tags/RBSStories/index.html" class="drops">RBS Stories</a>
      <a href="{{ site.baseurl }}/tags/Lifestyle/index.html" class="drops">Lifestyle</a>
      <a href="{{ site.baseurl }}/tags/Informative/index.html" class="drops">Informative</a>
      <a href="{{ site.baseurl }}/tags/Other/index.html" class="drops">Other</a>
      </li>
        <a class="dropbtn" href="{{ site.baseurl }}/merchandise.html">Merchandise</a>
        <li class="dropdown" onclick="void(0)">
    <a class="dropbtn">For Students</a>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/calendar.html" class="drops" onclick="void(0)">SU Calendar</a>
      </li>
        <li class="dropdown1">
    <a class="dropbtn1" onclick="void(0)">For Companies</a>
    <div class="dropdown-content1">
      <a href="{{ site.baseurl }}/timeline.html" class="drops">Timeline</a>
      <a href="{{ site.baseurl }}/proposal.html" class="drops">About us</a>
      </li>

        <li class="dropdown1" onclick="void(0)">
    <a class="dropbtn1">About</a>
    <div class="dropdown-content1">
      <a href="{{ site.baseurl }}/about.html" class="drops">Who are we?</a>
      <a href="{{ site.baseurl }}/board.html" class="drops">The Board</a>
      <a href="{{ site.baseurl }}/contact.html" class="drops">Contact us</a>
      </li>
<script src="{{ site.baseurl }}/js/script.js"></script>

        </div>
      </div>
    </nav>

  </div>

</header>
