<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger" style="vertical-align:middle; ">
        <!-- {{ site.title }} instead of blog -->
        <div class="linki">
        <li class="dropdown">
    <a class="dropbtn">Categories</a>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/tags/News/index.html" class="drops">News</a>
      <a href="{{ site.baseurl }}/tags/Events/index.html" class="drops">Events</a>
      <a href="{{ site.baseurl }}/tags/RBSStories/index.html" class="drops">RBS Stories</a>
      <a href="{{ site.baseurl }}/tags/Other/index.html" class="drops">Other</a>
      </li>
        <a class="dropbtn" href="{{ site.baseurl }}/merchandise.html">Merchandise</a>
        <li class="dropdown">
    <a href="{{ site.baseurl }}/students.html" class="dropbtn">For Students</a>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/tags/News/index.html" class="drops">SU Calendar</a>
      </li>
        <a class="dropbtn" href="{{ site.baseurl }}/companies.html">For Companies</a>
        <li class="dropdown1">
    <a  href="{{ site.baseurl }}/about.html" class="dropbtn1">About</a>
    <div class="dropdown-content1">
      <a href="{{ site.baseurl }}/board.html" class="drops">The Board</a>
      <a href="{{ site.baseurl }}/contact.html" class="drops">Contact Us</a>
      </li>
<script src="{{ site.baseurl }}/js/script.js"></script>

        </div>
      </div>
    </nav>

  </div>

</header>
