/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/** Variables **********************************************/
$base-font-family:              Raleway, sans-serif;
$base-line-height:              1.5em;
$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         40px;
$nav-height:                    56px;

/* portfolio tinkering */
$img_spacing: 5px; 
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #aaa;

/* COLORS  */
$red:  #900028;
$orange: #F29105;
$blue: #2698BA;
$green: #11D68B;
$lime_green: #B7D12A;
$purple: #B509AC;


$grey-color-dark: #333;   /* footer */
$grey-color-light: #333;  /* navigation bar border */
$text-color:     #333;

/* Set theme color *************************/
$theme-color:   $red;


/************************************************************/

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $vertical-spacing-unit / 2;
}

.alignright {
    float: right;
}


hr{
    /* Inset, by Dan Eden */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $horizontal-spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}


/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: none;
    /*
    &:visited {
        color: darken($brand-color, 15%); 
    }
    */
    &:hover {
        
        text-decoration: none;
    }
}

article a {
    color: $theme-color;
    font-weight: 400;

    &:hover {
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $text-color;
    border-left: 10px solid $grey-color-light;
    padding-left: $horizontal-spacing-unit / 2;
    font-size: 18px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: $grey-color-light;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */ 

.wrapper {
    max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(800px - (#{$horizontal-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit}));
        max-width:         calc(800px - (#{$horizontal-spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/**
 * Clearfix
 */
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.logo {
object-fit: contain;
    width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  z-index: 0;

    }

.header-bar h2 {
    font-weight: 400;
   
}

.linki {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.main-nav-scrolled {
  position: fixed;

  top: 0;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.soon {
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    margin-top: 100px;
    line-height: 60px;
}

.img {
    vertical-align: middle;
    display: block;
    width: 80%;
    margin: auto;
}

.dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    line-height: 1.5em;
    font-weight: 400;
}

.drop:hover, .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}
.dropbtn:hover {
    background-color: #f1f1f1;
}

li.dropdown {
    display: inline-block;
    line-height: 1.5em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    line-height: 1.5em;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 1.5em;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


.post{
        margin-top: 40px;
}

.pirms {
    height: 40px;
}

.pec {
    height: 40px;
}

.cat {
    padding-left: 20px;
}



.disqus-footer__wrapper {
    
}
.disqus-footer__wrapper {
opacity: 0 !important;
}

.atstarpe {
    height: 28 px;
}

.covers {
    margin-left: -15%;
    width: 130%;
    margin-top: 30px;
    margin-bottom: 20px;
   }
@media only screen {
    .covers {
    margin-left: 0;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    }
}

   .aboutteksts1 {
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 28px;
   padding-bottom: 12px;
text-align: center;
   }

   .aboutteksts2 {
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 12px;
    text-align: center;
    padding-bottom: 100px;
    }



.col-1-3 {
    float: left;
    padding: 0 20px;
        font-size: 18px;
        width: 100% !important;
        margin-bottom: 20px !important;
            box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button:hover, a.button:hover {
    border-color: #900028;
    color: #900028;
    opacity: 0.7;
}

button, a.button {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #900028;
    color: #900028;
    background: transparent;
    line-height: 1em;
    padding: 0.6em 0.9em;
    transition: all 0.3s ease-in-out;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}

form {
    display: block;
}

.mini {
    margin-top: 10px;
    margin-bot: 10px;
}

textarea {
    width: 100%;
    height: 150px;
}

@media (max-width: 364px) {

input {
    
    width: 100%;
    }
}

.contactus {
    font-size: 1.5em;
    margin-top: 30px;
}

.contacttable {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.dropbtn1 {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    line-height: 1.5em;
    font-weight: 400;

}

.dropbtn1:hover {
    background-color: #f1f1f1;
    left:auto;
    right:0;
}

.calendars {
        margin-bottom: 30px;
    margin-top: 30px;
    line-height: 1em;
}

.merch {
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.bottlez {
    margin-left: 20% !important;
    margin-right: 20% !important;
    width: 60% !important; 
}

@media only screen and (max-width: 500px) {

.bottlez {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important; 
}
}

.bottlex:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    opacity: 0.8;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 25 !important; /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 80vh;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #900028;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    background-color: #900028;
    color: white;
    position: absolute;
    bottom: 0;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}
}

.merch-bilde {
    mergin-right: 50%;
    width: 50%;
}

.merch-teksts {
    mergin-left: 50%;
    width: 50%;
}