
/**
 * Site header   **********************************************************
 */
.site-header {
border-top: 2px solid #333;
border-bottom: 2px solid #333;
background-color: #fff;
opacity: 1;
margin-bottom: 25px;
left:0px;
top:0px;
height:56px;
width:100%;
z-index: 50;

}

@media only screen and (max-width: 649px) {
    .site-header {
border-top: 2px solid #300;
border-bottom: 2px solid #300;
background-color: #fff;
opacity: 1;
margin-bottom: 25px;
left:0px;
top:0px;
height: 56px;
width:100%;
z-index: 50;
    }   
.dropbtn {
    padding: 14px 10px;
    font-weight: 600;
    }
    .dropbtn1 {
    padding: 14px 10px;
    font-weight: 600;
    }

}

@media only screen and (max-width: 636px) {

.dropbtn {
    padding: 14px 8px;
    font-size: 14px;
    font-weight: 600;
    }
    .dropbtn1 {
    padding: 14px 8px;
    font-size: 14px;
    font-weight: 600;
    }
}

@media only screen and (max-width: 554px) {
.dropbtn {
    padding: 14px 7px;
    font-size: 13px;
    font-weight: 600;
    }
.dropbtn1 {
    padding: 14px 7px;
    font-size: 13px;
    font-weight: 600;
    }
}

@media only screen and (max-width: 518px) {
.dropbtn {
    padding: 14px 6px;
    font-size: 12px;
    font-weight: 600;
    }
.dropbtn1 {
    padding: 14px 6px;
    font-size: 12px;
    font-weight: 600;
    }
}

@media only screen and (max-width: 476px) {
.dropbtn {
    padding: 14px 6px;
    font-size: 11px;
    font-weight: 600;
    }
.dropbtn1 {
    padding: 14px 6px;
    font-size: 11px;
    font-weight: 600;
    }
}

@media only screen and (max-width: 468px) {
    .dropbtn {
    padding: 14px 7px;
    font-size: 10px;
    font-weight: 600;
    }
.dropbtn1 {
    padding: 14px 7px;
    font-size: 10px;
    font-weight: 600;
    }
.site-header {
height: 48px;
}

.linki {
    line-height: 1.5em;
}

.smooth {
height: 48px;
}

    }

@media only screen and (max-width: 438px) {
.dropbtn {
    padding: 14px 7px;
    font-size: 9px;
    font-weight: 600;
        }
        .dropbtn1 {
    padding: 14px 7px;
    font-size: 9px;
    font-weight: 600;
        }
.site-header {
height: 40px;
}
.linki {
    line-height: 1.5em;
}

.smooth {
height: 48px;
}

}


@media only screen and (max-width: 397px) {
.dropbtn {
    padding: 14px 6px;
    font-size: 8px;
    font-weight: 600;
}
.dropbtn1 {
    padding: 14px 6px;
    font-size: 8px;
    font-weight: 600;
}
}

@media only screen and (max-width: 375px) {
.dropbtn {
    padding: 14px 5px;
    font-size: 7px;
    font-weight: 600;
}
.dropbtn1 {
    padding: 14px 5px;
    font-size: 7px;
    font-weight: 600;
}
}

@media only screen and (max-width: 315px) {
.dropbtn {
    padding: 14px 4px;
    font-size: 6px;
    font-weight: 600;
}
.dropbtn1 {
    padding: 14px 4px;
    font-size: 6px;
    font-weight: 600;
}
}

@media only screen and (max-width: 282px) {
.dropbtn {
    padding: 14px 3px;
    font-size: 5px;
    font-weight: 600;
}
.dropbtn1 {
    padding: 14px 3px;
    font-size: 5px;
    font-weight: 600;
}
}

.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}
.site-nav {

line-height: $nav-height;
.page-link{
line-height: $base-line-height;
text-align: center;

margin-left: 5px;
margin-right: 5px;
        
    }
@include media-query($on-palm) {

top: 0px;
right: 10px;
text-align: right;
&:hover .trigger {
display: block;
padding-bottom: 5px;
        }
.page-link {
display: line;
margin-left: auto;
margin-right: auto;
        }
    }
}

.header-bar{

    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    opacity: 1;
    width: 55%;
    text-align: center;
    padding-top: 25px;
    line-height: 3em;
    z-index: 25;
    margin: auto;
    padding-bottom: 25px;
    h1{
        color: $theme-color;
        font-size:75px;
    }
    h2{
        font-size:25px;
    }
}

/**
 * Site footer  **********************************************************
 */
.site-footer {
border-top: 1px solid $grey-color-dark;
font-size: 10px;
background-color: $grey-color-dark;
padding: 2px;
color: #aaa;
position:fixed;
left:0px;
bottom:0px;
height:25px;
width:100%;
}
/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
position: fixed;
bottom: 50px;
}
.paginationicon {
font-size: 50px;
a {
color: $theme-color;
    }
}
/**
 * Page content   **********************************************************
 */
.page-content {
padding: 40px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
font-size: 20px;
}
.post-list {
margin: 0px 0;
list-style: none;
    > li {
margin-bottom: $vertical-spacing-unit;
    }
}
.contacticon {
font-size: 60px;
display:block;
margin: 10px;
}
.center{
text-align: center;
}
/**
 * Posts  **********************************************************
 */
.post-header {
margin-bottom: $vertical-spacing-unit;
}
.post-title {
font-size: 33px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 36px;
    }
}
.post-content {
h2 {
font-size: 42px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 30px;
@include media-query($on-laptop) {
font-size: 22px;
        }
    }
h4 {
font-size: 20px;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
}
.post-meta {
font-size: $small-font-size;
color: #333;
margin-bottom: 0px; 
}
.post-link {
display: block;
font-size: 42px;
}

/** Poem formatting ********************************************/
.poem-title {
font-size: 24px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 16px;
    }
}


/** 
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.project {
width: 33.33%;
height: 250px;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 10px;
}
.thumbnail{
width: 100%;
height: 230px;
overflow: hidden;
}
.thumbnail img{
width: 500px;
height: auto;
position: relative;
left: -25%;
top: -5%;
}
.thumbnail a{
float: left;
position: relative;
width: 100%;
height: 230px;
}
.thumbnail a span {
display: none;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.4);
color: $grey-color-light;
padding: 40px;
text-align: center;
}
.thumbnail a:hover span {
display: block;
}
/** 
 * Portfolio pages **********************************************************
*/
.blankbox{
background: $theme-color;
}
.img_row{
height: $img_height;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}
.col{ 
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}
.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
width: 100%;
}
.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}

.post-list > li {
    margin-top: 40px;
}
@media screen and (max-width: 980px) {

.a2a_floating_style {
    background-color:transparent !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;

    }
.site-footer {
    border-top: 12px solid #333;
    font-size: 16px;
    line-height: normal;
    }
}

#disqus_thread {
     position: relative;
}
#disqus_thread:after {
     content: "";
     display: block;
     height: 55px;
     width: 100%;
     position: absolute;
     bottom: 0;
     background: white;

     }

     .containerhome {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

 .containerhome1 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  }
.containerhome-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-md-4, .col-sm-4, .col-xs-12 {
    float: left;
    width: 24%;

}

.img-circle {
    border-radius: 50%;
    width: 100%;
 }

 .kreisi {

margin-right: 7%;
 }

 .vidus {
 margin-left: 7%;
 margin-right: 7%;
 }

 .labi {
 margin-left: 7%;
 
 }

 .title {
 margin-bottom: 15px;
 word-wrap: normal;
width: 100%;

 }

 .pplinfo {
margin-bottom: 0px;
word-wrap: normal;
width: 100%;

 }

 .suaboutlogo {
 margin-left: 38%;
 margin-right: 38%;
 }

 .col-md-4, .col-sm-4, .col-xs-12 {
    margin-bottom: 40px;
 }

 @media screen and (max-width: 900px) {

 .vidkreisi {
margin-left: 13%;
margin-right: 13%;

 }

.vidlabi {
    margin-left: 13%;
    margin-right: 13%;
}
}
.emails {
margin-bottom: 0px;
word-wrap: break-word;
width: 100%;
}

 @media screen and (max-width: 450px) {
.bruh {
    width: 34%;
    margin-left: 33%;
    margin-right: 33%;
}
.emails {
    word-wrap: normal;
}
}

 @media screen and (max-width: 1000px) {

.title {
    font-size: 15pt;
    margin-bottom: 5px;
}
.pplinfo {
    font-size: 11pt;
}
.emails {
    font-size: 11pt;
    word-wrap: normal;
}
}

 @media screen and (max-width: 620px) {

.title {
    font-size: 12pt;
    margin-bottom: 4px;
}
.pplinfo {
    font-size: 9pt;
}
.emails {
    font-size: 9pt;
    word-wrap: normal;
    margin-left: -10px;
    margin-right: -10px;
}
}

.dropdown {
    position: relative;
}

.dropdown1 {
    position: relative;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    line-height: 1.5em;
    right: 0;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 1.5em;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.drop1:hover, .dropdown1:hover .dropbtn1 {
    background-color: #f1f1f1;
}
.dropbtn1:hover {
    background-color: #f1f1f1;
}

li.dropdown1 {
    display: inline-block;
    line-height: 1.5em;
}

.storijs {
    display: none;
}

.para {
    display: block;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}