<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>



    <div class="page-content">
      <div class="wrapper">
        
<div class="header-bar">
  <h1><a href="http://studentunion.co"><img src="{{ site.baseurl }}/img/logo.png" class="logo"></h1>
  
</div>

<div class="smooth" style="height: 56px;">
 {% include header.html %}
</div>

<main>

<div class="pirms"></div>

    <h1 class="cat">{{ page.tag }}</h1>
<p> under construction </p>
<div class="pec"></div>

<ul >
{% for post in site.tags[page.tag] %}
  <li id="virsraksts" class="slid">
    <h3 >{{ post.date | date: "%B %d, %Y" }}: {{ post.title }}</h3>
  </li>
  <div id="kontents" class="storijs">
    <div style="height:20px;"></div>
    {{ post.content }}
    <div style="height:20px;"></div>
  </div>
{% endfor %}
</ul>

    </main>







      </div>
    </div>


 <script src="{{ site.baseurl }}/js/script.js"></script>
  <script src="{{ site.baseurl }}/js/storijs.js"></script>
  </body>

</html>

