<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>



    <div class="page-content">
      <div class="wrapper">
        
<div class="header-bar">
  <h1><a href="http://studentunion.co"><img src="{{ site.baseurl }}/img/logo.png" class="logo"></h1>
  
</div>

<div class="smooth" style="height: 56px;">
 {% include header.html %}
</div>

<main>

<div class="pirms"></div>

    <h1 class="cat">{{ page.tag }}</h1>

<div class="pec"></div>

<ul>
{% for post in site.tags[page.tag] %}
  <li >
    <h2 id="virsraksts" class="slid">{{ post.date | date: "%B %d, %Y" }}: {{ post.title }}</h2>
  </li>
  <div id="kontents" class="storijs">
  {{ post.content }}
  </div>
{% endfor %}
</ul>

    </main>







      </div>
    </div>

{% include footer.html %}

 <script src="{{ site.baseurl }}/js/script.js"></script>
  <script src="{{ site.baseurl }}/js/storijs.js"></script>
  </body>

</html>

